<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>To,</p>
    <p><h1>Hello Dr.Pravin Hendre,</h1></p>
    <br/>
    <p><strong>Subject :</strong> &nbsp;&nbsp;<%=  @user[:subject]-%> </p>

    <p>Please find below details.</p>
    <p><strong>Name :</strong> &nbsp;&nbsp;<%=  @user[:name]-%> </p>
    <p><strong>Email :</strong> &nbsp;&nbsp;<%=  @user[:email]-%> </p>
    <p><strong>Phone :</strong> &nbsp;&nbsp;<%=  @user[:phone]-%> </p>
    <p><strong>Message :</strong> &nbsp;&nbsp;<%=  @user[:message]-%> </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>